seed: 42
model_dir: ../../models/tfm-tts
resume_checkpoint: false

train:
  fp16: true
  batch_size: 32
  num_epochs: 2000
  save_interval: 100

data:
  data_dir: ./DATA

model:
  n_mel: 80

  embedding:
    n_phoneme: 118
    n_accent: 19

  encoder:
    channels: 576
    n_heads: 6
    n_layers: 6
    dropout: 0.1

  variance_adopter:
    channels: 576
    dropout: 0.1

  decoder:
    channels: 384
    n_heads: 4
    n_layers: 6
    kernel_size: 7
    dropout: 0.1

optimizer:
  lr: 1.0
  betas: [0.9, 0.98]
